/* Section Portfolio */
.portfolio
  margin-bottom: 25px
  &-row
    justify-content: space-between
    flex-wrap: nowrap
    &_first
      margin-bottom: 10px
  &__title
    margin-bottom: 70px
  &-column
    margin-right: 10px
  &-more
    &__link
      display: block
      margin: 0 auto 190px auto
      max-width: 196px
