/* Wedding Section */
.wedding
  &-info
    background: url("../img/main/bg.jpg") 0% 0% /cover repeat
  &__title
    margin-bottom: 50px
    span
      color: $burgundy-color
  &-tabs
    margin-bottom: 180px
    justify-content: space-between
    &__link
      &::before
        content: ''
        width: 10px
        height: 10px
        display: inline-block
        border-radius: 50%
        border: 1px solid $burgundy-color
        vertical-align: middle
        margin-right: 45px
      color: $burgundy-color
      font:
        size: 22px
        weight: 300
      &.active
        color: $black-color






    