@font-face {
    font-family: 'Cormorant Garamond';
    src: local('Cormorant Garamond Book'), local('CormorantGaramond-Book'), url('../fonts/Cormorand-Garamond/Cormorantgaramondbook.woff2') format('woff2'), url('../fonts/Cormorand-Garamond/Cormorantgaramondbook.woff') format('woff'), url('../fonts/Cormorand-Garamond/Cormorantgaramondbook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

